<h3> <%= current_user.username%>'s New Credit</h3>
<h4> When You Create a New Credit You Must Create a Transaction at the Same Time</h4>
<h4> Once You Create a Credit You May Add Transactions to that existing Credit </h4>

<h4 style = "color:red;"><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h4>

</br>

<form action = "/credits" method = "POST" >

  <h3> Credit Information </h3>
</br>
  <label> Credit Name <input type= "text" name = "credit[credit_name]"></label>
</br></br>
<label> Sector <input list= "sector" name = "credit[sector]">
  <datalist id ="sector">
    <option value = "">
      <option value = "excise tax">
        <option value = "electric">
          <option value = "GO">
            <option value = "gas">
              <option value = "water">
                <option value = "lease">
                  </datalist> </label>
</br></br>
<label> Rating  <input list= "rating" name = "credit[rating]">
  <datalist id ="rating">
    <option value= "">
      <option value= "AAA">
        <option value= "AA">
          <option value= "A">
            <option value= "BBB">
              <option value= "Not Investment Grade">
                </datalist> </label>
  </br></br>

  <h3> Create a New Transaction: </h3>
</br></br>
<label> Transaction Name <input type= "text" name ="transaction[name]"></label></br></br>
<label> Series <input type= "text" name = "transaction[series]"></label> </br></br>
<label> Par <input type= "integer" name = "transaction[par]"></label> </br></br>

    <input type="hidden" name="credit[transaction_ids][]" value= "<%=@transactions.ids%>">

  <input type = "submit" value = "New Credit">

</form>

</br></br>
