<h4> show_credit</h>
<h3> Hello, <%=current_user.username%> </h3>

</h3> Credit Name: <%= @credit.credit_name %> </h3> <h4>Credit Sector: <%= @credit.sector %> </h4>
<h4> Credit Rating: <%= @credit.rating %> </h4>
