</h3> All Transactions </h3>
<h2> Welcome, <%=current_user.username%> </h2>

<h4 style = "color:red;"><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %></h4>


</br></br>
<head>
 <style>
 table, th, td {
     border: 1px solid blue;
 }
 </style>
 </head>
<table>
  <table style="width:50%">

    <tr>
        <th> Transaction Name </th>
        <th> Series </th>

    </tr>
    <tr>


    <%@transactions.order("name").each do |transaction|%>

    <td> <%= transaction.name%> </td>
    <td> <%= transaction.series%>  </td>

  </tr>
    <%end%>
  </table>
