<h4> show_transaction.erb</h4>


</br></br>
<head>
 <style>
 table, th, td {
     border: 1px solid blue;
 }
 </style>
 </head>
<table>
  <table style="width:50%">

    <tr>
        <th> Transaction Name </th>
        <th> Series </th>
        <th> Par </th>
    </tr>
    <tr>

    <%Transaction.all.each do |transaction|%>

    <td> <%= transaction.name%> </td>
    <td> <%= transaction.series%>  </td>
    <td> <%= transaction.par%>  </td>
  </tr>
    <%end%>
  </table>
