<!DOCTYPE html>
<html>
<head>
<title>Credit List Sinatra Project</title>
</head>
<body>

</br>
  <nav>
    <%= yield %>
  <% if logged_in? %>
<p> <%=current_user.username%> <a href="/credits/new"> New Credit</a> </br>
<p> <%=current_user.username%>  <a href= "/users/<%= current_user.username %>">Only Credits</a></p>
 <p> <a href= "/credits"> All Credits By All Users</a>  </P>
<a href="/logout"> Log Out </a>

<% else %>
<p> Please <a href="/signup">Register</a>      (If You Have Not)</p>
<p> Please <a href="/login"> Log In </a></P>
<%end %>

</nav>

</body>
</html>
