<!DOCTYPE html>
<html>
<head>
<title>Credit List Sinatra Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

</br>
<div class="container">
  <h1>Credit List</h1>
  <%= yield %>
</br><br>
</div>

  <nav>
  <% if logged_in? %>
<p> <%=current_user.username%> <a href="/credits/new"> Create New Credit</a> </p>
<p> <%=current_user.username%>'s  <a href= "/users/<%= current_user.username %>">Credits Only</a></p>
 <p> <a href= "/credits"> All Credits By All Users</a>  </p>
 <p> <a href= "/transactions"> All Transactions For All Credits</a> </p>
<a href="/logout"> Log Out </a>

<% else %>
</br></br></br>
<p> Please <a href="/signup">Sign-Up</a>      (If You Have Not)</p>
<p> Please <a href="/login"> Log In </a></P>
<%end %>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
